/* -------> TAGS <---------- */

/* |>|>|>|>|>|> ID <||<|<|<|<|<|*/
#back{
    background-image: url("../imgs/back.jpg");
}

#thumb{
    width: 200px;
    height: 200px;  
}

/* -----> CLASSE <------- */

.news{
    display: inline-flex;
}

.news h2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}