/* -------> TAGS <---------- */
h1{
    text-align: center;
    font-family: monospace;
    font-size: 400%;
    margin-left: 5%;
    margin-right: 5%;
}
/* -----> CLASSE <------- */
.imgs-top{
    background-image: url("../maxresdefault.png");
    /* display: flex; */
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
}

