/* -------> TAGS <---------- */
body {
    margin: 0;
  }

/* ------> ID <---------- */
#back{
    background-color:rgba(255, 192, 203, 0.116) ;
}

#menu ul {
    display: flex;
    padding:0px;
    margin:0px;
    background-color:rgba(255, 68, 0, 0.911);
    list-style:none;
    align-items: center;
    justify-content: center;
}

#menu ul li { 
    display: flex;
    margin-left: 2%;
}

#menu ul li a {
    padding: 2px 10px;

    /* visual do link */
    background-color:rgba(255, 68, 0, 0.021);
    color: black;
    text-decoration: none;
    text-align-last: center;
    border: 4px solid white;
    border-bottom: none;
    border-top: none;
}

#menu ul li a:hover {
    background-color:whitesmoke;
    color: black;
    border-bottom:3px solid #000000;

}

#menu ul audio{
    margin-left: auto;
}

/* -----> CLASSE <------- */

.img-top{
    background-image: url("../../maxresdefault.png");
    /* display: flex; */
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
}

.img-left{
    margin-right: auto;
    background: url(https://pm1.narvii.com/6706/56cad5537f16368e39bb5ec131ffb961138d5ba2_00.jpg);
    background-repeat: repeat-y;
}

.img-right{
    margin-left: auto;
    background: url(https://pm1.narvii.com/6706/56cad5537f16368e39bb5ec131ffb961138d5ba2_00.jpg);
    background-repeat: repeat-y;
}

.middle{
    width: 60%;
}

