/* -------> TAGS <---------- */

h1{
    text-align: center;
    font-family: monospace;
    font-size: 400%;
    margin-left: 5%;
    margin-right: 5%;
}

/* |>|>|>|>|> ID <|<|<|<|<|*/

#titulo {
    margin-top: 15%;
    display: inline-flex;
    margin-left: 6%;
    
}

#describe{

}
#types{

}
#indti{
    background-color:rgba(255, 192, 203, 0.151) ;
}

#indice{
    border:2px solid #dcdcdc;
}

#indice ul{
    list-style:none;
    
}
#indice ul li a{
    text-decoration: none;
    direction: ltr;
    padding: 0.25em 1em;
    

}

/* |>|>|>|>|> CLASSES <|<|<|<|<|<| */


.ind{
    display: table;
    border:2px solid #dcdcdc;
    background-color:rgba(255, 192, 203, 0.151) ;
    
}
.ind h2{
    margin-left: 15%;
}
