/* -------> TAGS <---------- */

h1{
    text-align: center;
    font-family: monospace;
    font-size: 400%;
    margin-left: 5%;
    margin-right: 5%;
}

/* |>|>|>|>|> ID <|<|<|<|<|*/

#titulo {
    display: inline-flex;
    width: 100%;
}
#teste{ 
    margin-top: 15%;
    margin-right: auto;
}
#tes{ 
    margin-top: 15%;
    margin-left: auto;
}
#testh{ 
    align-items: center; 
    margin-top: 25%;
}

#describe{

}
#types{

}

#indice{
    border:2px solid rgba(0, 0, 0, 0.212);
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}


#indice ul{
    list-style:none;
    
}
#indice ul li a{
    text-decoration: none;
    direction: ltr;
    padding: 0.25em 1em;
    margin-left: -37%;
    
}

/* |>|>|>|>|> CLASSES <|<|<|<|<|<| */


.ind{
    display: table;
    border:2px solid rgba(0, 0, 0, 0.418);
    background-color:rgba(255, 192, 203, 0.151) ;
        
}
.ind h2{
    margin-left: 15%;
    margin-top: auto;
    margin-bottom: auto;
}
