/* -------> TAGS <---------- */



/* |>|>|>|>|> ID <|<|<|<|<|*/
#back{
    background-image: url("../../imgs/backd.jpg");
}

#titulo {
    display: inline-flex;
    width: 100%;
}
#teste{ 
    margin-top: 15%;
    margin-right: auto;
}
#logoE{ 
    margin-top: -5%;
    margin-left: 80%;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
#title{ 
    text-align: center; 
    margin-top: 15%;
    margin-left: 4%;
    font-size: 300%;
    width: 100%;
}
#below{
    display: inline-flex;
}



/* |>|>|>|>|> CLASSES <|<|<|<|<|<| */

