/* -------> TAGS <---------- */


/* |>|>|>|>|> ID <|<|<|<|<|<| */

#back{
    background-image: url("../../backp.jpg");
}

#teste{ 
    margin-top: 15%;
    margin-right: auto;
}
#tes{ 
    margin-top: 15%;
    margin-left: auto;
}
#testh{ 
    align-items: center; 
    margin-top: 25%;
}
#titulo {
    display: inline-flex;
    width: 100%;
}


#table{
    background-size: 100% 100%;
    width: 100%;
}

/* |>|>|>|>|> CLASSES <|<|<|<|<|<| */


