/* -------> TAGS <---------- */


/* |>|>|>|>|> ID <|<|<|<|<|<| */
#center{
    text-align: center;
}

#td{
    background-size: 100% 100%;
}

#back{
    background-image: url("../../backp.jpg");
}

#logoE{ 
    margin-top: 15%;
    margin-left:-5%;
    width: 30%;
    height: 30%;
}
#logoD{ 
    margin-top: 15%;
    margin-right: auto;
    width: 30%;
    height: 30%;
}
#title{ 
    align-items: center; 
    margin-top: 25%;
}
#titulo {
    display: inline-flex;
    width: 100%;
}


#table{
    background-size: 100% 100%;
    width: 100%;
    
}

/* |>|>|>|>|> CLASSES <|<|<|<|<|<| */


