/* -------> TAGS <---------- */
h1{
    text-align: center;
    font-family: monospace;
    font-size: 400%;
    margin-left: 5%;
    margin-right: 5%;
}
#back{
    background-image: url("../../backp.jpg");
    /* background-color:rgba(255, 192, 203, 0.116) ; */
}